# ppt, psd, doc, docx, pptx, exec, exe, ai, scss, pdf, eps 알집 제외

*.ppt
**/*.ppt

*.psd
**/*.psd

*.doc
**/*.doc

*.docx
**/*.docx

*.pptx
**/*.pptx

*.exec
**/*.exec

*.exe
**/*.exe

*.ai
**/*.ai

*.scss
**/*.scss

*.pdf
**/*.pdf

*.eps
**/*.eps

*.zip
**/*.zip